.counter{
    background-color: #103d4c;
    padding-top: 100px;
    padding-bottom: 100px;
}
.counter__row{
    display: flex;
    justify-content:  space-around;
}
.counter-content{
    text-align: center;
}
.counter-h1{
    display: block;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 10px;
    color: #fff;
}
.counter-p{
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
    line-height: 24px;
    margin-bottom: 0;
    /* opacity: 0.5; */
    color: #8b8b8b;
    text-transform: capitalize;
}

@media(max-width:768px){
    .counter__row{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .counter{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .counter-h1{
        font-size: 45px;
        line-height: 45px;
    }
    .counter__col-3:not(:first-child){
        margin-top: 20px;
    }
}